default_profile: local
profiles:
  local:
    endpoint: http://localhost:8443
    token: ""
    ca_file: ""
    insecure_skip_verify: false
    refresh: 5s
    default_view: overview
    output: tui
  production:
    endpoint: https://ironroot.example.com:8443
    token: ""
    ca_file: ~/ironroot/root-ca.crt
    insecure_skip_verify: false
    refresh: 10s
    default_view: security
    output: tui
